body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.container {
    max-width: 1200px;
    margin: 80px auto 0 auto; /* Ajustez la marge supérieure pour éviter de cacher le contenu derrière la navbar */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.table-responsive {
    margin-top: 20px;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.text-center {
    margin-top: 20px;
}
.navbar-nav .nav-item {
    margin-left: 15px;
}
.navbar-nav .nav-item .btn {
    padding: 10px 20px;
    font-size: 16px;
}
.filter-container {
    text-align: center;
    margin: 80px 0 20px 0; /* Ajustez la marge pour éviter de cacher la barre de recherche derrière la navbar */
    position: sticky;
    top: 70px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
    z-index: 999;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.filter-container button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filter-container button:hover {
    background-color: #45a049;
}
